<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Hopital{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="{{ asset('bundles/ppehopital/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ppehopital/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="{{ path('accueil') }}"><img style="max-width:100px; margin-top: -7px;"
             src="{{ asset('bundles/ppehopital/images/logo.jpg') }}"></a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="{% if app.request.attributes.get('_route') == "accueil" %}active{% endif %}"><a href="{{ path('accueil') }}" class="">Accueil</a></li>
                                        <li class="dropdown {% if app.request.attributes.get('_route') in ["urgences","chirurgie","imagerie","pediatrie"] %}active{% endif %}">
                                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('urgences') }}">Urgences</a></li>
                                                <li><a href="{{ path('chirurgie') }}">Chirurgie</a></li>
                                                <li><a href="{{ path('imagerie') }}">Imagerie médical</a></li>
                                                <li><a href="{{ path('pediatrie') }}">Pédiatrie</a></li>
  
                                            </ul>
                                        </li>
                                        <li class="{% if app.request.attributes.get('_route') == "informations" %}active{% endif %}"><a href="{{ path('informations') }}" class="">Informations</a></li>
                                        <li class="{% if app.request.attributes.get('_route') == "contact" %}active{% endif %}"><a href="{{ path('contact') }}" class="">Contact</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                    <li class="{% if app.request.attributes.get('_route') == "profile" %}active{% endif %}"><a href="{{ path('profile') }}">Mon profile</a></li>
                                    <li class=""><a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a></li>
                                        
                                    {% else %}

                                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Se connecter <span class="caret"></span></a>
                                            <div class="dropdown-menu" style="padding: 10px; padding-bottom: 10px;">
                                            <!-- login form -->
                                            {% render url('fos_user_security_login') %}
                                            </div>
                                            <div>
                                                {% block fos_user_content %}
                                                {% endblock fos_user_content %}
                                            </div>
                                        </li>
                                        <li class=""><a href="#">S'enregistrer</a></li>
                                    {% endif %}   
                                    </ul>
                                </div>
                            </div>
                        </nav>    
                    </div>
                </div>
                 {% block body %}{% endblock %}                       
        <script src="{{ asset('bundles/ppehopital/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/ppehopital/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
